extends layout

block content
  // Bride and Groom
  section.bride-groom(id='brideGroom')
    div.container
      h1
        span.groom
          span.first-name Michael
          span.last-name Hemesath
        span.ampersand &amp;
        span.bride
          span.first-name Stacey
          span.last-name Hus
      img(src="img/us.jpg", width="394", height="394")
      p
        time October 5, 2013
        span.location Kansas City, Missouri
        
    div.container.rsvp
      h2 Please RSVP below by September 8, 2013
      form(method="post", action="/rsvp")
        button.btn.btn-accept(type="submit", name="rsvp[attending]", value="true") Accept with pleasure
        button.btn.btn-danger(type="submit", name="rsvp[attending]", value="false") Decline with regret
      div.change-rsvp <a href="/rsvp">I would like to change my RSVP</a>
                      
  hr.solid
  
  // Our Story 
  section.our-story
    div.container
      h2 Our Story
      p As many of you already know, Mike and I met through an online dating site in August of 2010 and those that know me might be surprised to hear that I made the first contact.  When Mike finally responded I could not have been more excited.  Throughout the next few weeks we used the opportunity to get to know each other and by the end of September he asked me out on our first date to a Royal’s baseball game.  My first thought was “I sure hope this goes well, because if not it is going to be one long first date sitting through an 9 inning baseball game.”  Needless to say the date went great.  Mike continued to impress me with his thoughtfulness, creativity and not to mention his sushi making skills.  It did not take long for us both to realize that we had found something special.
      p We spent the next two years of our lives getting to know each other and falling more in love each and every day.  In the fall of 2012 Mike made plans for us to take our dog Freckles for a walk in a nearby park.  I knew immediately that he had something up his sleeve.  As we were walking through the park I kept waiting for him to pop the question; however, to my surprise it never happened.  So the very next week (on October 23) when Mike asked if I wanted to go back to the park for a walk and fall picnic I did not think too much about it.   Right before I was getting ready to sit to enjoy our picnic, Mike got down on one knee and proposed.
      p We truly could not be happier and we look forward to the day in which we will start the rest of our lives together as husband and wife.  The only thing that could make this day more special is to be able to share this moment in our lives with our friends and family.
  
  hr.solid-reverse
  
  // Locations
  section.location-schedule(id='locationSchedule')
    div.container
      h2 <i class="iconic calendar_alt_stroke"></i> Schedule
      div.agenda
        h3 Lee's Summit, Missouri
        h4 Saturday, October 5th, 2013
        ul
          li 4:30 pm .......... <strong>Wedding Ceremony</strong></li>
          li 5:00 pm .......... <strong>Cocktail Hour</strong></li>
          li 6:00 pm .......... <strong>Dinner and Reception</strong></li>
          li 8:00 pm .......... <strong>Evening party until 11:00 pm</strong></li>
      div.snapshots
        img.frame(src='/img/fountain_close.jpg')
        img.frame(src='/img/fountain_side.jpg')
      div.travel
        h3 Hotels
        p We are staying at the <a target="_blank" href="http://hamptoninn3.hilton.com/en/hotels/missouri/hampton-inn-kansas-city-lees-summit-MKCLSHX/index.html">Hampton Inn</a> and <a href="http://www.comfortinn.com/hotel-lees_summit-missouri-MO188">Comfort Suites</a>.
        
        h4 Hampton Inn
        p 1-816-347-8600
        p 1751 NE Douglas Street in Lee's Summit, Missouri
        p Book your room by calling 1-816-347-8600 under the Hemesath/Hus wedding block. Your room must be booked by September 5th to secure these discounted rates.
        
        h4 Comfort Suites
        p 1-816-554-6688
        p 3701 N.E. Ralph Powell Rd, Lees Summit, Missouri
        p Book your room by calling 1-816-554-6688 under the Hemesath/Hus wedding block. Your room must be booked by September 5th to secure these discounted rates.
      div.shuttle
        h3 Shuttle
        p A free shuttle will provide transportation between the Hampton Inn, Comfort Suites and Unity Village. Shuttle times are as follows:
        ul
          li 3:00 to 4:30 pm leaving every 15 min.
          li 9:30 to 11:00 pm leaving every 15 min.
          
        p Please note that shuttle can only carry 30 people at a time. So please plan to arrive to the ceremony early to ensure the shuttle isn't overwhelmed on the last trip.
  
  hr.solid-reverse
  
  // Maps
  section.maps(id='maps')
    div.container
      h2 <i class="iconic compass"></i> Directions
      div.map
        h4 Ceremony and Reception
        a(target="_blank", href="https://maps.google.com/maps/ms?msid=203494629607821312307.0004dfa0acf60fb8032f5&msa=0&ll=38.947941,-94.406129&spn=0.004142,0.004619")
          img(width='968', height='500', alt='Map of Unity Village', src='/img/map_unity.png')
      div.map
        h4 Hampton Inn to Unity
        a(target="_blank", href="https://maps.google.com/maps?saddr=Unknown+road&daddr=Unity+Way&hl=en&ll=38.946827,-94.39157&spn=0.02343,0.03695&sll=38.942046,-94.376217&sspn=0.005858,0.009238&geocode=FQU4UgIdSu5f-g%3BFVZNUgIdjn5f-g&t=m&mra=dme&mrsp=0&sz=17&z=15")
          img(width='968', height='500',  alt='Map from Hampton Inn to Unity Village', src='/img/map_directions.png')
          
  // Gifts
  section.gifts(id='gifts')
    div.container
      h2 <i class="iconic tag_stroke"></i> Gifts
      div.registries
        h3 Our Registries
        p We are extremely grateful for any gifts in helping us build our future. We have registered at the places below to help you take the guess work out of gifting.
        p Thank you again!
        a(target='_blank', href='http://www.bedbathandbeyond.com/')
          img(src='img/bed_bath_beyond.png')
        a(target='_blank', href='http://www.surlatable.com/')
          img(src='img/slt.jpg')
      div.charity
        h3 Traveling to Kansas City?
        p We love you for joining us in our celebration and your presence means more than presents! For those making the trip to Kansas City, please use your money for travel expenses.

  
  hr.solid-reverse
  
  // Kansas City
  section.kansas-city(id='kansasCity')
    div.container
      h2 <i class="iconic star"></i> Kansas City
      p Below is a list of our favorite places in Kansas City you should check out while you're in town.
      div.category
        h3 Shopping
        ul
          li <a href="http://www.thetastefulolive.com/" target="_blank">The Tasteful Olive</a>
          li <a href="http://www.penzeys.com/" target="_blank">Penzey's Spices</a>
          li <a href="http://www.thenewoakparkmall.com/shop/oakpark.nsf/index" target="_blank">Oak Park Mall</a>
          li <a href="http://www.towncenterplaza.com/" target="_blank">Town Center Plaza</a>
          li <a href="http://www.countryclubplaza.com/" target="_blank">Country Club City Plaza</a>
          li <a href="http://www.legendsshopping.com/" target="_blank">Legends</a>
      div.category
        h3 Restaurants
        ul
          li <a href="http://gramanddun.com/" target="_blank">Gramm &amp; Dunn</a></li>
          li <a href="http://www.brgrkitchen.com/" target="_blank">BRGR</a></li>
          li <a href="http://www.oklahomajoesbbq.com/" target="_blank">Oklahoma Joes BBQ</a></li>
          li <a href="http://www.jackstackbbq.com/" target="_blank">Jack Stack BBQ</a></li>
          li <a href="http://www.rasushi.com/" target="_blank">RA Sushi</a></li>
          li <a href="https://www.coopershawkwinery.com/" target="_blank">Cooper's Hawk</a></li>
      div.category
        h3 Attractions
        ul
          li <a href="https://www.worldsoffun.com/" target="_blank">Worlds of Fun</a></li>
          li <a href="http://www.legolanddiscoverycenter.com/kansascity/" target="_blank">LegoLand</a></li>
          li <a href="http://www.visitsealife.com/Kansas-city/" target="_blank">SEA Life Aquarium</a></li>
          li <a href="http://theworldwar.org/" target="_blank">National World War I Museum</a></li>
          li <a href="http://www.louisburgcidermill.com/" target="_blank">Louisburg Cider Mill</a></li>
          li <a href="http://www.kansascityzoo.org/" target="_blank">Kansas City Zoo</a></li>
      div.category.break
        h3 Night Life
        ul
          li <a href="http://www.theriegerkc.com/manifesto/" target="_blank">Manifesto</a></li>
          li <a href="http://www.powerandlightdistrict.com/" target="_blank">Power &amp; Light</a></li>
          li <a href="http://www.tanninwinebar.com/" target="_blank">Tannin Wine Bar</a></li>
      div.category
        h3 Entertainment
        ul
          li <a href="http://www.improvkc.com/" target="_blank">Kansas City Improv</a></li>
          li <a href="http://tickets.kauffmancenter.org/" target="_blank">The Kauffman Center for the Performing Arts</a></li>
          li <a href="http://www.hollywoodcasinokansas.com/" target="_blank">Hollywood Casino</a></li>
      div.category
        h3 Wineries
        ul
          li <a href="http://stonepillarvineyard.com/" target="_blank">Stone Pillar</a></li>
          li <a href="http://somersetridge.com/"  target="_blank">Somerset</a></li>
          li <a href="https://www.coopershawkwinery.com/"  target="_blank">Cooper's Hawk</a></li>