extends layout

block content
  div.container
    h2 Login
    form(method='post', action='/guests')
      .control
        input(type='password', name='password')
        button.btn(type='submit') Login