extends ../layout

block content
  section.rsvp
    div.container
      h2 Thanks for RSVP'ing to our wedding.
      p A confirmation of your response has been sent to #{rsvp.email}.  You may update your RSVP any time before September 5th by visiting <a href="/rsvp">http://www.mikestaceykc.com/rsvp</a>.
      p <a href="/">return home</a>
